.page {
    display: flex;
}

.filter-bar {
    display: flex;
    justify-content: space-evenly;
}

.table {
    width: 50%;
}

.patients-table {
    width: 100%;
}

table {
    border: 2px solid #ccccdf;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 10px;
}

thead.buttom-border-line {
    border-bottom: 2px solid #ccccdf;
}

td:not(:last-child) {
    border-right: 1px solid #eeeeff;
}

td {
    text-align: center;
}

tbody {
    display: block;
    height: 500px;
    overflow: auto;
}

thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;/* even columns width , fix width of table too*/
}


.button {
    background: white;
    border-radius: 10px;
    border-color: #ccccff;
    padding: 5;
}

.button.button-delete {
    border-color: #ffdddd;
}

.button.button-update {
    border-color: #ddffdd;
}

.button.button-close {
    border-color: #dddddd;
}

.button.create-patient {
    float:right;
    margin-top: 10;
}

.changed {
    background-color: #ffffaa;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}

.form-content {
    border: 3px solid #ddf;
    border-radius: 10px;
    width: 40%;
}

.form-content-fields {
    display: flex;
    flex-direction: column;
    padding: 20;
    gap: 15px;
}

.form-button {
    margin-left: 10px;
}

.form-buttons {
    display: flex;
    justify-content: end;
    margin: 0 15 8 0;
}
    
.test {
    color: #00ffff;
}

.filter {
    width: 150;
}

.patient-row {
    cursor: pointer;
}

.patient-row:hover {
    background-color: #eef;
}

.patient-row.selected {
    background-color: #ddf;
}

.input-field {
    border: none;
    border-bottom: 2px solid #ddf;
    width: 100%;
    font-size: 16;
    background: #f5f5ff;
}

.input-field.disabled {
    background: #d5d5d5;
}

.input-field:focus-visible {
    border-bottom: 2px solid #aaf;
    outline: none;
}

span.red {
    color: #ff0000;
}

.not-valid,.not-valid:focus-visible {
    border-bottom: 2px solid #ff0000;
}

.deleted {
    background: lightgray;
}
